* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */

#tron-logo {
	margin: 0 auto;
	width: 40vw;
	height: 30vh;
	background-image: url('../res/tron_img.png');
	background-size: 100%;
	background-repeat:no-repeat;
}

#menu {
	font-family: "Tahoma";
}

#controls {
	color: #6ddfff;
	margin: 0 auto;
	width: 140px;
}

#playerListAndControls {
	text-align: left;
}

.btn {
	-webkit-border-radius: 24;
	-moz-border-radius: 24;
	border-radius: 24px;
	-webkit-box-shadow: 0px 1px 30px #666666;
	-moz-box-shadow: 0px 1px 30px #666666;
	box-shadow: -1px 1px 50px #000000;
	font-family: Arial;
	color: #2b8aff;
	font-size: 17px;
	background: #ffffff;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	-o-transition:color 1s ease-out, background 1s ease-out;
	-ms-transition:color 1s ease-out, background 1s ease-out;
	-moz-transition:color .2s ease-out, background 1s ease-out;
	-webkit-transition:color .2s ease-out, background 1s ease-out;
	/* ...and now override with proper CSS property */
	transition:color 1s ease-out, background 1s ease-out;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
	box-shadow: -1px 1px 50px #666666;
	color:white;
	transition: 0.5s;
	cursor: pointer;	
}

.menu {
	position: absolute;
	text-align: center;
	height: 40vh;
	width: 50vw;
	top:20%;
	left: 50%;
	transform: translate(-50%, 0%);
	color: white;
	background: transparent;
}

.setting {
	padding:10px;
}

label {
	padding: 10px;
}

#leaderBoard {
	font-family: "Tahoma";
	font-size: 30px;
	left: 50%;
	top: 10%;
	transform: translate(-50%, 0%);
	color:white;
	position: absolute;
}

#gameSettings {
	height: 100%;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

ul {
	list-style-type: none;
}

.sideMenu {
	position: absolute;
	right: 0;
	width: 0;
	padding: 20px;
	height: 94vh;
	overflow: hidden;
	border-right: 1px solid #123432;
	z-index: 0;
	text-align: left;
	border-left: gray 1px solid;
	background: #333438;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: cyan;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]{

    /*required for proper track sizing in FF*/
    width: 30%;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: cyan;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}